@{
    ViewData["Title"] = "Home Page";
    ViewData["js"] = "home.js";
}
<div id="layoutSidenav_content">
    <div class="text-center">
        <h1 class="display-1"> </h1>
    </div>
    <div class="small text-center">&copy; 2023 - Advanced Database - Tran Nguyen Bao Toan - Do Hoang Cong Danh - Tran Bui Hoang Gia</div>
</div>

